body {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-body{
    display: flex;
    flex-direction: column;
    flex: 1 1 0
}

a {
    text-decoration: none;
    color: #e7e5eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 60px;
    height: 60px;
    margin-right: auto
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.header-links, .intro-text {
    font-size: 18px;
    color: #e7e5eb;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
}

.intro-title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.box img {
    width: 100px;
    height: 100px;
  }
  
  .infoboxes {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    align-items:center;
  }
  
  .box {
    border: 3px solid grey;
    border-radius: 12px;

  }

  .SRI {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }