body {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-body{
    display: flex;
    flex-direction: column;
    flex: 1 1 0
}

a {
    text-decoration: none;
    color: #e7e5eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 60px;
    height: 60px;
    margin-right: auto
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.header-links, .intro-text {
    font-size: 18px;
    color: #e7e5eb;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
}

.intro-title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.box img {
    width: 100px;
    height: 100px;
  }
  
.infoboxes {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    align-items:center;
  }
  
.box {
    border: 3px solid grey;
    border-radius: 12px;

  }

.SRI {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    }
  
.quote-box {
    align-self: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #1F2937;
    font-family: "light italic";
}

.quote-box .name {
    margin-right:50px;
    margin-left:auto;
    margin-top: -15px;;
}

.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.button-section .blue-box{
    background-color: #3882F6;
    align-items: center;
    color: #F9FAF8;
    width:75%;
    border-radius:12px;
    padding:20px 50px;
    display: flex;
    margin: 75px;
  }
  
  .button-section .box-text{
    font-size: 18px;
  }
  
  .button-section .box-button{
    margin-right: 40px;;
    margin-left:auto;
    width:100px;
    height:50px;
    border-radius: 12px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 3px solid #F9FAF8;
  }

  .footer{
    background-color: #1F2937;
    text-align: center;
  }
  
  .footer p{
    color: white;
    padding:40px;
    margin: 0;
    flex: 0 1 0
  }
    

   

